services:
  swarm-cd:
    image: ghcr.io/m-adawi/swarm-cd:latest
    deploy:
      placement:
        constraints:
          - node.role == manager
    secrets:
      - source: encryption_key
        target: /secrets/private.gpg
      - source: ssh_key
        target: /secrets/git_ssh_key
    environment:
      - SOPS_GPG_PRIVATE_KEY_FILE=/secrets/private.gpg
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./repos.yaml:/app/repos.yaml:ro
      - ./stacks.yaml:/app/stacks.yaml:ro
    networks:
      - my-net
secrets:
  encryption_key:
    file: private.gpg
  ssh_key:
    file: git_ssh_key
networks:
  my-net:
    external: true