apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vault
  name: vault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      containers:
      - image: hashicorp/vault
        name: vault
        env:
        - name: VAULT_DEV_ROOT_TOKEN_ID
          value: "root"
