---
apiVersion: v1
data:
  nginx.conf: |
    user nginx;
    events {
        worker_connections  128;
    }
    http {
        server {
            listen 80;
            location / {
                proxy_pass http://web-server.default.svc.cluster.local/;
            }
        }
    }
kind: ConfigMap
metadata:
  name: nginx-config
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - image: nginx:alpine
        name: nginx
        volumeMounts:
        - mountPath: /etc/nginx/
          name: nginx-volume
      volumes:
      - name: nginx-volume
        configMap:
          name: nginx-config
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx
  name: nginx
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginx
  type: NodePort
