---
apiVersion: v1
data:
  index.html: |
    Hello world!
kind: ConfigMap
metadata:
  name: apache-content
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: apache
  name: apache
spec:
  replicas: 2
  selector:
    matchLabels:
      app: apache
  template:
    metadata:
      labels:
        app: apache
    spec:
      containers:
      - image: httpd:alpine
        name: apache
        volumeMounts:
        - mountPath: /usr/local/apache2/htdocs/
          name: apache-volume
      volumes:
      - name: apache-volume
        configMap:
          name: apache-content
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: apache
  name: apache
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: apache
  type: NodePort
