apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: {{ .Values.name }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - image: {{ .Values.deployment.version }}
        name: {{ .Values.deployment.name }}
        volumeMounts:
        - mountPath: /usr/share/nginx/html
          name: nginx-volume
      volumes:
      - name: nginx-volume
        configMap:
          name: nginx-content