apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx
  name: {{ .Values.service.name }}
spec:
  ports:
  - port: {{ .Values.service.port }}
    protocol: TCP
    targetPort: 80
  selector:
    app: nginx
  type: NodePort